
.labelPVtitulo{
    background-color: #255625;
    color: #FFF;
    /*text-align: center;*/
    margin-left: 10px;

    /*height: 50px;*/
}


.lbTitulo{
    margin-top: 5px;
    font-size: 18px;
}

.lblUser{

    font-size: 18px;
}



